/* Global font */
* {
    font-family: "EnvyCodeR Nerd Font Propo";
}

/* Window styling */
window {
    margin: 0px;
    border: 10px solid #1e1e2e;
    background-color: transparent;
    border-radius: 20px;
}

/* Outer container */
#outer-box {
    margin: 0px;
    border: 3px solid rgba(250, 1, 121, 0.855);
    border-radius: 20px;
    background-color: #1e1e2e;
    padding: 5px;
    display: flex;
    flex-direction: column-reverse;
    /* Makes input stay at bottom, results appear above */
}

/* Input field styling */
#input {
    padding: 10px 20px;
    border: 2px solid rgba(250, 1, 121, 0.855);
    color: #cdd6f4;
    font-weight: bold;
    background-color: #1e1e2e;
    outline: none;
    border-radius: 20px;
    margin: 0 13px 10px 13px;
    font-size: 14px;
}

/* List of options */
#entry {
    padding: 5px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 24px;
}